In [2]:
def sumNum(a, b):
    return a+b
def maxNum(a, b):
    if(a>b):
        return "a is greater"
    elif(b>a):
        return "b is greater"
    else:
        return "both are equal"
print(maxNum(sumNum(12, 23), 35))

both are equal

In [6]:
import math

In [4]:
print(math.pi)

3.141592653589793

In [5]:
math.pi

3.141592653589793

In [16]:
string1 = "abcde"
#string1[0] = 'f'
print(type(string1))

<class 'str'>

In [17]:
string1[::-1]

'edcba'

In [36]:
string1[0:]
string1[5::-1]

'edcba'

In [10]:
string1[:]

'abcde'

In [11]:
string1[::-1]

'edcba'

In [13]:
string1[0:-4:-1]

''

In [13]:
string1[5:0]

''

In [14]:
string1[0:5:2]

'ace'

In [28]:
string2 = ["bappi", "saha", "rakib"]
print(string2[-1])
print(string2[-2])
print(string2[-3])

rakib
saha
bappi

In [29]:
string2.remove("bappi")
string2.append("rahman")
print(string2)

['saha', 'rakib', 'rahman']

In [30]:
string2.insert(1, "bappi")

string2.remove(string2[1])
print(string2)

In [32]:
string2.remove(string2[1])
print(string2)

['saha', 'rakib', 'rahman']

In [38]:
numbers = [1, 2, 3, 4]
print(sum(numbers))

10

In [34]:
print(max(numbers))

4

In [35]:
print(min(numbers))

1

In [46]:
def mean(var):
    return sum(var)/len(var)

In [47]:
mean(numbers)

2.5

In [41]:
import statistics

In [39]:
statistics.mean(numbers)

2.5

In [8]:
math.asin(-1)

-1.5707963267948966

In [52]:
b = 'ba' 'ppi'
b

'bappi'

In [54]:
bap = ('bappi' ' '
      'saha')
bap

'bappi saha'