In [1]:
a = ["banana", "apple", "microsoft"]

In [14]:
i = 0
for element in a:
    print(element)
    i+=1
    print(i)

banana
1
apple
2
microsoft
3

In [16]:
b = [20, 10, 5]
total = 0
for element in b:
    print(element)
    total+=element
print(total)

20
10
5
35

In [17]:
# 1, 2, 3, 4
c = list(range(1,5))
c

[1, 2, 3, 4]

In [18]:
for i in range(1,5):
    print(i)

1
2
3
4

In [20]:
print(list(range(1,8)))

[1, 2, 3, 4, 5, 6, 7]

In [22]:
total3 = 0
for i in range(1,8):
    if (i%3) == 0:
        total3+=i
print(total3)

9

In [25]:
total4 = 0
for i in range(1, 100):
    if i%3==0:
        total4+=i
    elif i%5==0:
        total4+=i
print(total4)

2318

In [26]:
print(list(range(1,99)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98]